// ============================================================
// MediaQuery Width
// ============================================================
$width-br1750: 1750px;
$width-br1400: 1400px;
$width-pc: 980px;
$width-tablet: 979px;
$width-tablet1: 979px;
$width-tablet2: 768px;
//$width-smartphone: 600px;
$width-smartphone: 900px;
$width-scrollbar: 20px;

