.p-checkout {
    padding-left: calc(35/750*100vw);
    padding-right: calc(35/750*100vw);
    &__label-bg {
        position: absolute;
        position: absolute;
        top: calc(-31/750*100vw);
        left: calc(-13/750*100vw);
        z-index: -1;
        width: 30.066667vw;
        height: 28.266667vw;
    }
    &__inner {
        margin-top: calc(40/750*100vw);
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        background: #FFF;
        padding: calc(38/750*100vw) calc(40/750*100vw);
        filter: drop-shadow(0 0 calc(10/750*100vw) rgba(0, 0, 0, 0.2));
        border-radius: calc(16/760*100vw);
        position: relative;
        overflow: hidden;
        margin-bottom: calc(40/750*100vw);
    }
    &__content {
        &__title {
            font-size: calc(50/750*100vw);
            letter-spacing: calc(2/750*100vw);
            text-transform: uppercase;
            color: #8e008c;
            font-weight: 700;
            text-align: center;
            margin-top: calc(57/750*100vw);
        }
    }
    &__ordered {
        margin-top: calc(48/750*100vw);
        h3 {
            font-size: calc(40/750*100vw);
            letter-spacing: calc(1/750*100vw);
            text-transform: uppercase;
            color: #8e008c;
            font-weight: 700;
        }
        &__box {
            border-bottom: calc(2/750*100vw) solid rgb(220, 220, 220);
            padding-bottom: calc(40/750*100vw);
            &__image {
                img {
                    width: calc(190/750*100vw);
                    height: calc(190/750*100vw);
                }
            }
            &__desc {
                display: block;
                font-size: calc(30/750*100vw);
                line-height: calc(40/750*100vw);
                color: #333333;
                font-weight: 400;
                margin-top: calc(34/750*100vw);
                // letter-spacing: -1px;
                span {
                    background: #f3e5f3;
                    color: #8e008c;
                    font-size: calc(19/750*100vw);
                    font-weight: 400;
                    border-radius: calc(15/750*100vw);
                    padding: calc(2/750*100vw) calc(29/750*100vw);
                }
            }
            &__content {
                margin-top: calc(18/750*100vw);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__info {
                margin-top: calc(-5/750*100vw);
                &__desc {
                    font-size: calc(26/750*100vw);
                    line-height: calc(40/750*100vw);
                    color: #333333;
                    font-weight: 400;
                    text-align: right;
                    padding-right: calc(9/750*100vw);
                    span {
                        margin-right: calc(-13/750*100vw);
                    }
                }
                &__total {
                    font-size: calc(26/750*100vw);
                    line-height: calc(40/750*100vw);
                    color: #4c8283;
                    font-weight: 600;
                    text-align: right;
                    padding-right: calc(9/750*100vw);
                    span {
                        color: #4c8283;
                        margin-right: calc(-13/750*100vw);
                        font-weight: 600;
                    }
                }
            }
        }
    }
    &__order-detail {
        h3 {
            margin-top: calc(33/750*100vw);
            font-size: calc(40/750*100vw);
            letter-spacing: calc(1/750*100vw);
            text-transform: uppercase;
            color: #8e008c;
            font-weight: 700;
        }
        ul {
            margin-top: calc(45/750*100vw);
            li {
                border-top: calc(2/750*100vw) solid rgb(220, 220, 220);
                p {
                    padding-left: calc(17/750*100vw);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    strong {
                        font-size: calc(30/750*100vw);
                        line-height: calc(108/750*100vw);
                        color: #478082;
                        font-weight: 400;
                    }
                    span {
                        font-size: calc(30/750*100vw);
                        line-height: calc(108/750*100vw);
                        color: #333333;
                        font-weight: 400;
                        text-align: right;
                    }
                }
                &:last-of-type {
                    border-bottom: calc(2/750*100vw) solid rgb(220, 220, 220);
                    p {
                        strong {
                            font-weight: 600;
                            line-height: calc(101/750*100vw);
                        }
                        span {
                            color: #478082;
                            font-weight: 600;
                            line-height: calc(101/750*100vw);
                            b {
                                font-size: calc(42/750*100vw);
                                color: #478082;
                            }
                        }
                    }
                }
            }
        }
        &__desc {
            margin-top: calc(22/750*100vw);
            font-size: calc(24/750*100vw);
            color: #888888;
            text-align: right;
            font-size: calc(24/750*100vw);
            font-weight: 400;
        }
    }
    &__shipping {
        margin-top: calc(53/750*100vw);
        h3 {
            font-size: calc(40/750*100vw);
            letter-spacing: calc(1/750*100vw);
            text-transform: uppercase;
            color: #8e008c;
            font-weight: 700;
        }
        ul {
            margin-top: calc(45/750*100vw);
            li {
                border-top: calc(2/750*100vw) solid rgb(220, 220, 220);
                &:last-of-type {
                    border-bottom: calc(2/750*100vw) solid rgb(220, 220, 220);
                }
            }
        }
        &__address {
            padding-left: calc(17/750*100vw);
            padding-bottom: calc(20/750*100vw);
            h5 {
                margin-top: calc(-2/750*100vw);
                font-size: calc(30/750*100vw);
                line-height: calc(101/750*100vw);
                color: #478082;
                font-weight: 400;
                margin-bottom: calc(-12/750*100vw);
            }
            p {
                font-size: calc(30/750*100vw);
                line-height: calc(40/750*100vw);
                color: #333333;
                font-weight: 400;
            }
            .label {
                border: calc(2/750*100vw) solid #8e008c;
                width: calc(160/750*100vw);
                position: relative;
                height: calc(58/750*100vw);
                border-radius: calc(40/750*100vw);
                margin-top: calc(15/750*100vw);
                margin-bottom: calc(9/750*100vw);
                span {
                    font-size: calc(30/750*100vw);
                    letter-spacing: calc(1/750*100vw);
                    color: #8e008c;
                    font-weight: 400;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &__payment {
        padding-left: calc(17/750*100vw);
        padding-bottom: calc(21/750*100vw);
        h5 {
            margin-top: calc(-2/750*100vw);
            font-size: calc(30/750*100vw);
            line-height: calc(101/750*100vw);
            color: #478082;
            font-weight: 400;
            margin-bottom: calc(-12/750*100vw);
        }
        p {
            font-size: calc(30/750*100vw);
            line-height: calc(40/750*100vw);
            color: #333333;
            font-weight: 400;
        }
    }
    &__group-btn {
        text-align: center;
        margin-top: calc(68/750*100vw);
        a {
            position: relative;
            border: calc(2/750*100vw) solid #8e008c;
            width: calc(500/750*100vw);
            height: calc(90/750*100vw);
            background: #8e008c;
            border-radius: calc(50/750*100vw);
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: calc(30/750*100vw);
                letter-spacing: calc(1/7500*100vw);
                color: #ffffff;
                font-weight: 700;
            }
        }
    }
    &__btn-back {
        a {
            img {
                width: calc(17/750*100vw);
                height: calc(30/750*100vw);
            }
        }
    }
}