@charset "utf-8";

.p-payments {
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(38/750*100vw);
	margin-bottom: calc(38/750*100vw);
	.l-container{
		padding-left: 4.66667%;
		padding-right: 4.66667%;
	}
	&__inner{
		position: relative;
		background-color: #fff;
		border-radius: calc(16/750*100vw);
		filter: drop-shadow(0 0 10px rgba(0,0,0,0.2));
		padding: calc(61/750*100vw) calc(40/750*100vw) calc(70/750*100vw);
		overflow: hidden;
		&::before{
			content: "";
			width: calc(239/750*100vw);
			height: calc(214/750*100vw);
			display: block;
			background: url("../img/common/img_shape.png") no-repeat center;
			background-size: cover;
			position: absolute;
			top: calc(-33/750*100vw);
			left: calc(-20/750*100vw);
			z-index: 1;
		}
		h3{
			font-size: calc(50/750*100vw);
			letter-spacing: calc(2/750*100vw);
			line-height: calc(60/750*100vw);
			color: #8e008c;
			font-weight: 700;
			text-align: center;
			margin-bottom: calc(68/750*100vw);
		}
	}
	&__list{
		margin-bottom: calc(82/750*100vw);
		li{
			+ li{
				margin-top: calc(21/750*100vw);
			}
			input{
				display: none;
				&:checked + label{
					border-color: $cAccent;
					&::before{
						background-color: $cAccent;
					}
				}
			}
			#payment1 + label{
				img{
					width: calc(250/750*100vw);
				}
			}
			#payment2 + label{
				img{
					width: calc(220/750*100vw);
				}
			}
			label{
				display: block;
				position: relative;
				padding: calc(67/750*100vw) calc(20/750*100vw) calc(66/750*100vw) calc(119/750*100vw);
				border-radius: calc(16/750*100vw);
				background-color: #ffffff;
				border: calc(2/750*100vw) solid #ccc;
				transition: .4s all;
				&::before{
					content: "";
					width: calc(41/750*100vw);
					height: calc(41/750*100vw);
					border-radius: 50%;
					background-color: #cccccc;
					position: absolute;
					left: calc(38/750*100vw);
					top: 50%;
					transform: translateY(-50%);
					transition: .4s all;
					z-index: 1;
				}
				img{
					width: auto;
				}
			}
		}
	}
	&__btn-confirm{
		font-size: calc(30/750*100vw);
		letter-spacing: calc(1/750*100vw);
		line-height: 10px;
		color: #ffffff;
		font-weight: 700;
		text-align: center;
		background-color: $cAccent;
		width: calc(500/750*100vw);
		height: calc(90/750*100vw);
		border-radius: calc(45/750*100vw);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		margin-left: auto;
		margin-right: auto;
	}
}